<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>A small Angular app</title>
    <link rel="stylesheet" href="styles.css">
  </head>
  <body ng-app="demoapp">
    <div ng-controller="choreController">
      Search str: <input ng-model="search"><br/>
      Order: <select ng-model="direction">
        <option value="ascending">Ascending</option>
        <option value="descending">Descending</option>
      </select>
      <hr>
      <div
          ng-repeat="chore in chores | orderBy : 'text' : direction === 'descending' | filter : {text: search}"
          ng-class="{sel:chore.completed}">
        {{chore.text}}
        <input
          type="checkbox"
          ng-model="chore.completed">
      </div>
      <input placeholder="Add chore..." ng-model="newChoreDesc">
      <button ng-click="addChore()">Add chore</button>

    </div>
    <script src="../../lib/angular.js"></script>
    <script src="code.js"></script>
  </body>
</html>